* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#map {
    height: 100vh;
    
}
.leaflet-popup-content-wrapper{
    padding: 0;
    overflow: hidden;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
}
.leaflet-popup-content-wrapper h4 {
    padding: 16px;
    background: #447def;
    color: #fff;
    font-size: 16px;
}
.leaflet-popup-content-wrapper p {
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;
}

